{{template "layout/head" .}}
<main>
    <div class="carousel">
        <img src="https://ik.imagekit.io/ea6ykw8e2b/city-small-crop_IQ0igLax8.jpg" height="639" width="1899"
            alt="city image">

        <div class="bg-text">
            <p>Kang bangunan</p>
            <h1>Jasa kontruksi bangunan dan para tukang</h1>
            <p>Jadikan kami mitra terpercaya untuk kontruksi atau bangunan rumah anda. Tentunya dengan tukang tukang
                profesial yang khusus di datangkan dari daerah jawa tengah. Yang mana para tukang ini sangat kompeten di
                bidang pertukangan </p>
        </div>
    </div>
</main>
{{template "layout/footer" .}}