{{template "layout/head" .}}
<main>
    <div class="carousel">
        <img src="https://ik.imagekit.io/ea6ykw8e2b/city-small-crop_IQ0igLax8.jpg" height="639" width="1899"
            alt="city image">

        <div class="bg-text">
            <div class="extra-text">
                <p> Kang bangunan</p>
            </div>
            <div class="desc-text">
                <h1>Jasa kontruksi bangunan dan para tukang</h1>
                <p>Jadikan kami mitra terpercaya untuk kontruksi atau bangunan rumah anda. Tentunya dengan tukang tukang
                    profesial yang khusus di datangkan dari daerah jawa tengah. Yang mana para tukang ini sangat
                    kompeten di
                    bidang pertukangan </p>
            </div>
            <div class="button">
                <a href="#">Lebih lanjut</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="icon-services">
            <div class="services">
                <img src="https://ik.imagekit.io/ea6ykw8e2b/realtor_1Z-OKJ86DI3.svg" alt="icon key home" height="100"
                    width="100">
                <div class="desc-service">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, eius.</p>
                </div>
            </div>

            <div class="services">
                <img src="https://ik.imagekit.io/ea6ykw8e2b/parking-point_gTD3GU_cYH.svg" alt="icon marked place"
                    height="100" width="100">
                <div class="desc-service">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, eius.</p>
                </div>
            </div>

            <div class="services">
                <img src="https://ik.imagekit.io/ea6ykw8e2b/paint-roller-bucket_potwFDjEAg.svg" alt="icon cat"
                    height="100" width="100">
                <div class="desc-service">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, eius.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-services">
        <div class="title-services">
            <h2>Services kami</h2>
        </div>
        <div class="services-content">
            <div class="content">
                <img src="https://ik.imagekit.io/ea6ykw8e2b/alice-donovan_X4rYVgYmh2.jpg" alt="blog image building"
                    width="450" height="200">
                <h3>Renovasi rumah</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro recusandae labore voluptas velit,
                    inventore perferendis in enim officia ratione aperiam!</p>
                <div class="read-more">
                    <a href="#">BACA SELANJUTNYA</a>
                </div>
            </div>

            <div class="content">
                <img src="https://ik.imagekit.io/ea6ykw8e2b/justin-eisner_K4Osygji_.jpg" alt="blog image building"
                    width="450" height="200">
                <h3>Bangun rumah dan lainnya</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nesciunt corporis sint quis
                    doloribus similique ea architecto quae nemo veritatis.</p>
                <div class="read-more">
                    <a href="#">BACA SELANJUTNYA</a>
                </div>
            </div>

            <div class="second-content">
                <div class="sec-content">
                    <img src="https://ik.imagekit.io/ea6ykw8e2b/zia-syed_-E_B-IpjBF.jpg" alt="blog image building"
                        width="150" height="75">
                    <div class="sec-desc">
                        <h3>Penggalian tanah.</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="sec-content">
                    <img src="https://ik.imagekit.io/ea6ykw8e2b/zia-syed_-E_B-IpjBF.jpg" alt="blog image building"
                        width="150" height="75">
                    <div class="sec-desc">
                        <h3>Pengurugan tanah.</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="sec-content">
                    <img src="https://ik.imagekit.io/ea6ykw8e2b/zia-syed_-E_B-IpjBF.jpg" alt="blog image building"
                        width="150" height="75">
                    <div class="sec-desc">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="sec-content">
                    <img src="https://ik.imagekit.io/ea6ykw8e2b/zia-syed_-E_B-IpjBF.jpg" alt="blog image building"
                        width="150" height="75">
                    <div class="sec-desc">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "layout/footer" .}}