<footer>
    <div class="footer-item">
        <div class="item">
            item 1
        </div>
    </div>
    <div class="footer-item">
        <div class="item">
            item 2
        </div>
    </div>
    <div class="footer-item">
        <div class="item">
            item 3
        </div>
    </div>

    <div class="footer-item">
        <div class="item">
            item 3
        </div>
    </div>
</footer>

<div class="copyright">
    <p>Dhikrama group</p>
</div>
<script src="js/index.js"></script>
</body>

</html>