<header>
    <div class="container header-extra">
        <div class="extra">
            extra-header
        </div>
        <div class="extra">
            extra headeer 2
        </div>
    </div>

    <div class="container heading">
        <div class="heading-logo">
            <div class="text-logo">Dhikrama</div>
            <div class="burger-icon" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
        </div>
        <div class="heading-contact">
            <div class="contact-icon">
                <img src="images/house.svg" alt="icon house" width="50" height="47.25">
                <div class="description">
                    <div class="desc1">
                        +62 851 5643 6826
                    </div>
                    <div class="desc2">
                        dhikrama.group@gmail.com
                    </div>
                </div>
            </div>
            <div class="contact-icon">
                <img src="images/tel.svg" alt="icon telephone" width="50" height="47.25">
                <div class="description">
                    <div class="desc1">
                        JL.bend Jago RT 004/003
                    </div>
                    <div class="desc2">
                        Serdang kemayoran jakpus
                    </div>
                </div>
            </div>
            <div class="contact-icon">
                <img src="images/clock.svg" alt="icon clock" width="50" height="47.25">
                <div class="description">
                    <div class="desc1">
                        Mon - Sat 7.00 - 18.00
                    </div>
                    <div class="desc2">
                        sunday CLOSED
                    </div>
                </div>
            </div>
            <div class="social-media">
                <a href="#"><img src="https://ik.imagekit.io/ea6ykw8e2b/youtube-round-color_NdnUMiipapE.svg" alt="facebook icon" width="30" height="30"></a>
                <a href="#"><img src="https://ik.imagekit.io/ea6ykw8e2b/facebook-round-color_uOXlOpgLJ3.svg" alt="facebook icon" width="30" height="30"></a>
                <a href="#"><img src="https://ik.imagekit.io/ea6ykw8e2b/instagram-round-color_dFLl5yGm5.svg" alt="facebook icon" width="30" height="30"></a>
            </div>
        </div>
    </div>

    <nav id="nav">
        <ul>
            <li><h1>Kang bangunan</h1></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-us">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>